/*css code to override text color within conditional panel used for dataselection?/*

/*title text in sidepanel to black*/
.sidebar .instructions {
  color: black;
}

/*change select input controls and labels to black*/
.sidebar .control-label {
  color: black;
}

.sidebar .pretty p {
  color: black;
}

.sidebar .pretty .state label {
  color: black;
}

/*css code to assign position of zoom controls in sidebar*/
.zoom-controls {
  position: relative;
  padding: 10px;
  text-align: left;
}
.zoom-btn {
  display: inline-block;
  margin: 0 5px;
}


/*custom CSS for tab panels */
.nav-tabs > li > a {
  color: #024c63 !important;
}
.nav-tabs > li > a:hover {
  color: #024c63 !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #024c63 !important;
  font-weight: bold !important;
}
.tab-pane.active {
  background-color: white !important;
}
